body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-container {
    max-width: 80%;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 80%;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 15px;
}


.user-msg {
    background-color: #d1e7dd;
    align-self: flex-end;
 
}

.bot-msg {
  background-color: #e2e3e5;   /* seu tom de cinza */
  align-self: flex-start;      /* fica do lado esquerdo */
}

.bot-msg, .user-msg {
  white-space: pre-wrap;    /* preserva \n e múltiplos espaços */
  margin-bottom: 0.5rem;      /* espaçamento entre mensagens */
  display: inline-block;       /* ajusta largura ao conteúdo */
  max-width: 80%;              /* evita esticar demais em telas grandes */
  padding: 0.75rem 1rem;       /* espaçamento interno */
  border-radius: 0.5rem;       /* cantos arredondados */
  word-break: break-word;      /* quebra linhas longas */
}

